<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SecureAuthX.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Acasă
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="me">
                <span class="oi oi-person" aria-hidden="true"></span> Profilul meu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ping">
                <span class="bi bi-arrow-repeat" aria-hidden="true"></span> Test conexiune API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Panou admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Loguri activitate
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
